@import "../../../../constants.scss";

.themes-card {
  @include card;
  padding: 1rem 1.5rem;
  position: relative;
}

.themes-card:hover {
  box-shadow: 0 0 0 0.125rem $color-primary1;
}

.themes-card-header__avatar {
  height: 1.875rem;
  width: 1.875rem;
  color: white;
}

.themes-card-header {
  display: flex;
  align-items: center;
  justify-content: left;
  @include font-light;
  color: $color-secondary-text;
}

.themes-card-header__username {
  margin-left: 0.625rem;
}

.themes-card-main {
  display: block;
  margin: 1.125rem auto 2rem auto;
  text-align: left;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.themes-card-main__title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.themes-card-main__description,
.themes-card-header__username {
  @include font-light;
}

.themes-card-footer {
  @include font-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.themes-card-footer-support {
  color: $color-secondary-text;
  display: flex;
  align-items: center;
}

.themes-card-delete-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  color: $color-secondary-text;
  cursor: pointer;
}

.themes-card-delete-button:hover {
  color: $color-error;
  transform: scale(1.2);
}

.themes-card-modal-buttons__delete {
  @include button-default;
  padding: 0.5rem 1rem;
  color: $color-error;
  border-color: $color-error;
}

.themes-card-modal-buttons__delete:hover {
  background-color: #ef0800bb;
  color: #ffff;
}

.themes-card-modal-buttons__delete:active {
  background-color: $color-error;
  color: #ffff;
}

.themes-card-modal-buttons__cancel {
  @include button-default;
  padding: 0.5rem 1rem;
  color: $color-primary1;
  border-color: $color-primary1;
}

.themes-card-modal-buttons__cancel:hover {
  @include button-secondary-hover;
}

.themes-card-modal-buttons__cancel:active {
  @include button-secondary-active;
}
<<<<<<< HEAD
=======

.themes-card-footer__button-participating,
.themes-card-footer__button-not-participating {
  width: 10rem;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.3rem 0;
}

.themes-card-footer__button-participating:disabled,
.themes-card-footer__button-not-participating:disabled {
  cursor: not-allowed;
}

.themes-card-footer__button-not-participating {
  border: none;
  border-radius: 0.375rem;
  background: $gradient;
  color: #ffff;
  line-height: 1rem;
}

.themes-card-footer__button-participating {
  border: none;
  border-radius: 0.375rem;
  background: transparent;
  outline: 1px solid $color-primary2;
  color: $color-primary2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  .themes-card-footer__button-participating-icon {
    font-size: 1rem;
    color: $color-success;
  }
}

.themes-card-footer__button-participating:hover {
  @include button-secondary-hover;
}

.themes-card-footer__button-participating:active {
  @include button-secondary-active;
}

.themes-card-footer__button-not-participating:active {
  @include button-primary-active;
}

.themes-card-footer__button-loading {
  width: 8rem;
}

.themes-card-footer-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
>>>>>>> 1856b41 (notifications added)
