@import "../../../../constants.scss";

.themes-card {
  @include card;
  padding: 1rem 1.5rem;
  cursor: pointer;
  position: relative;
}

.themes-card-wrapper:hover {
  box-shadow: 0 0 0 0.125rem $color-primary1;
}

.themes-card-header__avatar {
  height: 1.875rem;
  width: 1.875rem;
  color: white;
}

.themes-card-header {
  display: flex;
  align-items: center;
  justify-content: left;
  @include font-light;
  color: $color-secondary-text;
}

.themes-card-header__username {
  margin-left: 0.625rem;
}

.themes-card-main {
  display: block;
  margin: 1.125rem auto 2rem auto;
  text-align: left;
  text-decoration: none;
  color: #000;
}

.themes-card-main__title {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.themes-card-main__description,
.themes-card-header__username {
  @include font-light;
}

.themes-card-footer {
  @include font-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.themes-card-footer-support {
  color: $color-secondary-text;
  display: flex;
  align-items: center;
}

.themes-card-delete-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  color: $color-secondary-text;
  cursor: pointer;
}

.themes-card-delete-button:hover {
  color: $color-error;
  transform: scale(1.2);
}
