@import "../../../constants.scss";

.header {
  display: flex;
  align-items: center;
  height: 4.375rem;
  @include gradient;
  box-shadow: 0px 4px 8px rgba(60, 72, 97, 0.2);
  color: white;
  justify-content: space-between;
  font-weight: 500;
  padding: 0 0.3rem;
}

@media (min-width: 950px) {
  .header {
    padding: 0 10%;
  }
}
