@import "../../../constants.scss";

.header {
  display: flex;
  align-items: center;
  height: 4.375rem;
  @include gradient;
  box-shadow: 0px 4px 8px rgba(60, 72, 97, 0.2);
  color: white;
  justify-content: space-between;
  font-weight: 500;
  padding: 0 0.3rem;
}

.header-outer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

.header-logo-outer {
  width: 20rem;
}

.header-avatar {
  height: 2.5rem;
  width: 2.5rem;
}

@media (min-width: $mobile-width) {
  .header {
    padding: 0 10%;
  }
}
