@import "../../../constants.scss";

.header {
  height: 4.375rem;
  @include gradient;
  box-shadow: 0px 4px 8px rgba(60, 72, 97, 0.2);
  display: flex;
  align-items: center;
}

.header-wrapper {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  font-weight: 500;
  margin: 0 auto;
}

.header-outer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

.header-logo-outer {
  width: 20rem;
  text-align: left;
}

.header-avatar {
  height: 2.5rem;
  width: 2.5rem;
}

.header-link-item {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.header-link-is-active {
  border-bottom: 2px solid white;
}

.link-white {
  text-decoration: none;
  color: white;
}

.link-white:hover {
  @include color-primary-hover;
}

@media (min-width: $mobile-width) {
  .header-wrapper {
    max-width: 100rem;
    justify-content: space-between;
    margin: 0 auto;
  }
}
