@import "../../constants.scss";

.locale-change-language-title {
  color: $color-secondary-text;
  @include font-semi-light;
  padding-bottom: 0.25rem;
  padding-top: 0.75rem;
}

.locale-change-language-title {
  color: $color-secondary-text;
  @include font-semi-light;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.locale-change-language-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.locale-change-language-buttons-input:checked
  + .locale-change-language-buttons-label {
  background: $gradient;
  color: #ffff;
}

.locale-change-language-buttons-label {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.375rem;
}

.locale-change-language-buttons-label:hover {
  background-color: $color-secondary-hover;
}

.locale-change-language-buttons-label:active {
  @include button-secondary-active;
}

.locale-change-language-buttons:focus-within
  .locale-change-language-buttons-input:checked
  + .locale-change-language-buttons-label {
  box-shadow: 0 0 0 0.125rem $color-primary1;
}

.locale-change-language-buttons-input {
  width: 0;
  margin: 0;
  overflow: hidden;
}
