@import "../../../constants.scss";

.header-profile {
  display: flex;
  align-items: center;
  line-height: 1.188rem;
  width: 5rem;
  justify-content: right;
  text-align: right;
}

.header-profile__text {
  margin-right: 0.75rem;
  display: none;
}

@media (min-width: $mobile-width) {
  .header-profile__text {
    display: block;
  }
  .header-profile {
    width: 20rem;
  }
}
