@import "../../../constants.scss";

.header-profile {
  display: flex;
  align-items: center;
  line-height: 1.188rem;
  width: 5rem;
  justify-content: right;
  text-align: right;
}

.header-profile__text {
  margin-right: 0.75rem;
  display: none;
}

.header-profile__avatar {
  height: 2rem;
  min-width: 2rem;
  border: white 0.125rem solid;
  @include font-semi-light;
  font-size: 1.25rem;
}

.header-profile-logout {
  @include button-secondary;
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  background-color: #ffff;
}

.header-profile-logout:hover {
  @include button-secondary-hover;
  color: #ffff;
}

.header-profile-logout:active {
  @include button-primary-active;
}

.header-profile-logout__text {
  display: none;
}

@media (min-width: $mobile-width) {
  .header-profile__text {
    display: block;
  }
  .header-profile {
    width: 30rem;
  }
  .header-profile-logout {
    @include button-secondary;
    background-color: #ffff;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
  }
  .header-profile-logout__text {
    display: inline;
    margin-right: 1rem;
  }
  .header-profile__avatar {
    height: 2.5rem;
    min-width: 2.5rem;
  }
}
