@import "../../../constants.scss";

.main {
  height: 100%;
  padding-top: 8.75rem;
  background: url("./assets/BottomImg.svg") no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
}

.main__wrapper {
  max-width: 45rem;
  margin: 0 auto;
}
