@import "../../../constants.scss";

.main {
  min-height: 100%;
  background: $background-primary;
  margin: 0 0.5rem;
}

.main__wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

@media (min-width: $mobile-width) {
  .main {
    background: url("./assets/BottomImg.svg") no-repeat $background-primary;
    background-position: bottom right;
    background-attachment: fixed;
    background-blend-mode: multiply;
    margin: 0;
  }
}
