@import "../../constants.scss";

.news-page {
  height: 100%;
  overflow: auto;
}

.news-page-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news-page-title {
  justify-content: space-between;
}

.news-page-title__create-news-button {
  @include button-secondary;
  @include font-normal;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}

.news-page-title__create-news-button:hover {
  @include button-secondary-hover;
}

.news-page-title__create-news-button:focus {
  @include input-focus;
}

.news-page-title__create-news-button:active {
  @include button-secondary-active;
}
