@import "../../constants.scss";

.password-input-wrapper {
  @include input;
  width: 16.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-input-wrapper:hover {
  @include input-hover;
}

.password-input-wrapper:focus-within {
  @include input-focus;
}

.password-input {
  @include input;
  margin: 0;
  width: 80%;
  outline: none;
  border: none;
}

.password-input-wrapper:hover > .password-input {
  @include input-hover;
}

.password-input__show-password-icon {
  display: flex;
  align-items: center;
  color: $color-secondary-text;
  cursor: pointer;
  user-select: none;
  margin-right: 0.75rem;
}

#showPassword {
  display: none;
}

.password-input__show-password-icon:hover {
  color: #000;
}

@media (min-width: $mobile-width) {
  .password-input-wrapper {
    width: 21.5rem;
  }
}
