@import "../../constants.scss";

.link-white {
  text-decoration: none;
  color: white;
}

.header-link-item {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.link-white:hover {
  @include color-primary-hover;
}

.link-black {
  text-decoration: none;
  color: black;
}

.link-grey {
  text-decoration: none;
  @include color-secondary-text;
}

.header-link-is-active {
  border-bottom: 2px solid white;
}

.main-link-item {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-bottom: #e2e7ef solid 2px;
}

.main-link-item:hover {
  background-color: rgba(128, 101, 236, 0.2);
}

.main-link-is-active {
  border-bottom: $color-primary1 2px solid;
  color: black;
}
