@import "../../constants.scss";

.create-meetup {
  height: 100%;
}

.create-meetup__header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

.create-meetup__header-logo {
  width: 8rem;
  text-align: left;
}

.create-meetup-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.create-meetup-nav:focus-within {
  @include input-focus;
  border-radius: 0.313rem;
  border: none;
}

.create-meetup-nav-radio {
  width: 0;
  overflow: hidden;
}

.create-meetup-nav-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem 0;
  color: #000;
  border-bottom: 1px solid #bec2c9;
}

.create-meetup-nav-radio:checked + .create-meetup-nav-item {
  border-bottom: 2px solid $color-primary2;
  color: #000;
  .create-meetup-nav-item__icon {
    background-color: $color-primary2;
  }
}

.create-meetup-nav-radio:disabled + .create-meetup-nav-item {
  color: $color-secondary-text;
  .create-meetup-nav-item__icon {
    background-color: #bec2c9;
  }
}

.create-meetup-nav-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 74, 215, 0.6);
  color: #ffff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.create-meetup__description {
  @include font-semi-light;
  color: $color-secondary-text;
  line-height: 1.375rem;
  margin-top: 2rem;
}

.create-meetup-data {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
  gap: 1.5rem;
}

.create-meetup-data-content {
  @include meetup-section;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem;
}

.create-meetup-data-content-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.create-meetup-data-content-input-wrapper-date {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.create-meetup-data-content-dragndrop {
  text-align: center;
  padding: 3rem 0;
  border: 1px dashed #d5dce7;
  border-radius: 5px;
  background-color: rgba(244, 246, 252, 0.2);
}

.create-meetup-data-content-input-date {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.create-meetup-data-content__label {
  @include font-normal;
  font-size: 0.875rem;
  color: $color-secondary-text;
  line-height: 1.5rem;
}

.create-meetup-data-content__input {
  @include input;
}

.create-meetup-data-content__input:hover {
  @include input-hover;
}

.create-meetup-data-content__input:focus {
  @include input-focus;
}

.create-meetup-data-content__textarea {
  resize: none;
  @include input;
}

.create-meetup-data-content__textarea:hover {
  @include input-hover;
}

.create-meetup-data-content__textarea:focus {
  @include input-focus;
}

.create-meetup-data-buttons {
  @include meetup-section;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

.create-meetup-data-buttons-button-back {
  @include button-default;
  padding: 0.688rem 1.375rem;
  text-decoration: none;
}

.create-meetup-data-buttons-button-back:hover {
  @include button-default-hover;
}

.create-meetup-data-buttons-button-back:active {
  @include button-default-active;
}

.create-meetup-data-buttons-button-submit {
  @include button-primary;
}

.create-meetup-data-buttons-button-submit:active {
  @include button-primary-active;
}

.create-meetup-data-buttons-button-submit:disabled {
  @include button-primary-disabled;
}

.create-meetup-data-buttons-right {
  display: flex;
}

@media (min-width: $mobile-width) {
  .create-meetup__header-logo {
    width: 30rem;
  }
}
