@import "../../constants.scss";

.create-meetup {
  height: 100%;
  overflow: auto;
}

.create-meetup__header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 2rem;
}

.create-meetup__header-logo {
  width: 8rem;
  text-align: left;
}

.create-meetup-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.25rem;
  margin-bottom: 3rem;
}

.create-meetup-nav:focus-within
  .create-meetup-nav-radio:checked
  + .create-meetup-nav-item {
  @include input-focus;
  border-radius: 0.313rem;
  border: none;
  border-bottom: 2px solid $color-primary2;
}

.create-meetup-nav-item:hover {
  background-color: $color-secondary-hover;
}

.create-meetup-nav-item:active {
  background-color: $color-secondary-active;
}

.create-meetup-nav-radio:disabled + .create-meetup-nav-item:hover,
.create-meetup-nav-item:active {
  background-color: $background-primary;
}

.create-meetup-nav-radio {
  width: 0;
  margin: 0;
  overflow: hidden;
}

.create-meetup-nav-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 1rem 0;
  color: #000;
  border-bottom: 1px solid #bec2c9;
}

.create-meetup-nav-radio:checked + .create-meetup-nav-item {
  border-bottom: 2px solid $color-primary2;
  color: #000;
  .create-meetup-nav-item__icon {
    background-color: $color-primary2;
  }
}

.create-meetup-nav-radio:disabled + .create-meetup-nav-item {
  color: $color-secondary-text;
  .create-meetup-nav-item__icon {
    background-color: #bec2c9;
  }
}

.create-meetup-nav-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49, 74, 215, 0.6);
  color: #ffff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.create-meetup__description {
  @include font-semi-light;
  color: $color-secondary-text;
  line-height: 1.375rem;
}

.create-meetup-data {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
  gap: 1.5rem;
}

.create-meetup-data-content {
  @include meetup-section;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem;
}

.create-meetup-data-content-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.create-meetup-data-content-input-wrapper-date {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.create-meetup-data-content-dragndrop {
  text-align: center;
  padding: 3rem 0;
  border: 2px dashed #d5dce7;
  border-radius: 5px;
  background-color: rgba(244, 246, 252, 0.2);
  margin-top: 1rem;
}

.create-meetup-data-content-dragndrop-active {
  border: 2px solid $color-primary1;
}

.create-meetup-data-content-dragndrop__error-visible {
  display: block;
  color: $color-error;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.create-meetup-data-content-dragndrop__error-hidden {
  display: none;
}

.create-meetup-data-content-dragndrop__label {
  cursor: pointer;
  color: $color-primary2;
}

.create-meetup-data-content-uploaded-image {
  display: flex;
  flex-direction: column;
}

.create-meetup-data-content-uploaded-image-icon {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border: 1px dashed #d5dce7;
  border-radius: 5px;
  margin: 0 auto 0 0;
}

.create-meetup-data-content-uploaded-image-icon__image {
  color: $color-primary2;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.create-meetup-data-content-uploaded-image-icon-text {
  margin-right: 2rem;
}

.create-meetup-data-content-uploaded-image-icon-text-filesize {
  font-size: 0.75rem;
  line-height: 1rem;
  color: $color-secondary-text;
}

.create-meetup-data-content-uploaded-image-icon-text-delete:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: $color-error;
}

.create-meetup-data-content-uploaded-image-pic {
  max-height: 20rem;
  object-fit: contain;
  margin-top: 1rem;
}

.create-meetup-data-content-input-date {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.create-meetup-data-content__label {
  @include font-normal;
  font-size: 0.875rem;
  color: $color-secondary-text;
  line-height: 1.5rem;
}

.create-meetup-data-content__input {
  @include input;
}

.create-meetup-data-content__input:hover {
  @include input-hover;
}

.create-meetup-data-content__input:focus {
  @include input-focus;
}

.create-meetup-data-content__textarea {
  resize: none;
  @include input;
}

.create-meetup-data-content__textarea:hover {
  @include input-hover;
}

.create-meetup-data-content__textarea:focus {
  @include input-focus;
}

.create-meetup-data-buttons {
  @include meetup-section;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.create-meetup-data-buttons-button-back {
  @include button-default;
  padding: 0.688rem 1.375rem;
  text-decoration: none;
}

.create-meetup-data-buttons-button-back:hover {
  @include button-default-hover;
}

.create-meetup-data-buttons-button-back:active {
  @include button-default-active;
}

.create-meetup-data-buttons-button-submit {
  @include button-primary;
}

.create-meetup-data-buttons-button-submit:active {
  @include button-primary-active;
}

.create-meetup-data-buttons-button-submit:disabled {
  @include button-primary-disabled;
}

.create-meetup-data-buttons-right {
  display: flex;
}

//datepicker styles
.react-datepicker-popper {
  .react-datepicker {
    border: 0.063rem solid #d5dce7;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  }
  .react-datepicker__header {
    background-color: #ffff;
    border-bottom: 0.063rem solid #d5dce7;
  }
}

.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker
  .react-datepicker__triangle::after {
  border-bottom-color: #ffff;
}

.react-datepicker-popper[data-placement^="top"]
  .react-datepicker
  .react-datepicker__triangle::after {
  border-bottom-color: #ffff;
}

.react-datepicker {
  .react-datepicker__day--selected {
    background-color: $color-primary1;
  }

  .react-datepicker__time-container {
    border-left: 0.063rem solid #d5dce7;
  }

  .react-datepicker__day--selected:hover {
    background-color: $color-primary1;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: $color-primary2;
  }

  .react-datepicker__day--keyboard-selected:hover {
    background-color: $color-primary1;
  }

  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    .react-datepicker__time-list
    .react-datepicker__time-list-item--selected {
    background-color: $color-primary1;
  }

  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    .react-datepicker__time-list
    .react-datepicker__time-list-item--selected:hover {
    background-color: $color-primary2;
  }
}

.react-datepicker-wrapper
  .react-datepicker__input-container
  .react-datepicker__close-icon::after {
  background-color: $color-primary2;
  font-size: 1rem;
}

.react-datepicker-wrapper
  .react-datepicker__input-container
  .react-datepicker__close-icon:hover::after {
  background-color: $color-primary1 !important;
  transform: scale(1.2);
}

.react-datepicker__time-container {
  .react-datepicker__time-list::-webkit-scrollbar {
    width: 6px;
  }
  .react-datepicker__time-list::-webkit-scrollbar-thumb {
    @include scrollbar;
  }
}

@media (min-width: $mobile-width) {
  .create-meetup__header-logo {
    width: 30rem;
  }
}
