@import "../../../constants.scss";

.main__navbar {
  display: flex;
  align-items: center;
  line-height: 1.188rem;
  justify-content: center;
  flex-wrap: wrap;
}

.main__navbar-link-item {
  display: block;
  cursor: pointer;
  padding: 1rem 0;
  border-bottom: #e2e7ef solid 0.125rem;
  width: 10rem;
}

.main__navbar-link-item:hover {
  background-color: rgba(128, 101, 236, 0.2);
}

.main__navbar-link-item:active {
  @include button-secondary-active;
}

.main__navbar-link-item-is-active {
  border-bottom: $color-primary1 0.125rem solid;
  color: black;
}
