@import "../../constants.scss";

.loading-page {
  height: 100%;
  overflow: auto;
}

.loading-page__header {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-bottom: 2rem;
}

.loading-page__header-logo {
  width: 8rem;
  text-align: left;
}

@media (min-width: $mobile-width) {
  .loading-page__header-logo {
    width: 30rem;
  }
}
